h3
{
  font-size: 25px !important;
}

.btn-success:hover
{
  background-color: blue;
}

canvas 
{
  animation-name: sombra;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes sombra
{
  from 
  {
    box-shadow: 1px 1px 38px red;
  }

  to   
  {
    box-shadow: 1px 1px 38px yellow;
  }
}

